<h1 class="text-danger text-center">Calendar</h1>
<!-- <h4>{{curMonths}}, {{curYear}}</h4> -->

<div class="row">
    <div class="col-xs-3 text-info text-center text-uppercase small bg-info padding-30">
        <h3>Today is:</h3>
        {{curYear}}<br>
        {{dayToday}}<br>
        Wed
    </div>
    <div class="col-xs-9">
       <div class="clearfix center-block">
            <h3 class="arrow text-success text-uppercase text-center pull-left" ng-click="goToPreviousMonth(curMonthsNum, curYear)"><i class="fa fa-arrow-circle-left"></i></h3>
            <h3 class="text-success text-uppercase text-center pull-left">{{curMonths}}, {{curYear}}</h3>
            <h3 class="arrow text-success text-uppercase text-center pull-left" ng-click="goToNextMonth(curMonthsNum, curYear)"><i class="fa fa-arrow-circle-right"></i></h3>
       </div>

        <div class="cal">
            <div class="day">
                <h3>Mon</h3>
                <h4 ng-repeat="day in months | filter:'Mon'" ng-click="addNote()">{{day.day}}</h4>
            </div>

            <div class="day">
                <h3>Tue</h3>
                <h4 ng-repeat="day in months | filter:'Tue'">{{day.day}}</h4>
            </div>

            <div class="day">
                <h3>Wed</h3>
                <h4 ng-repeat="day in months | filter:'Wed'">{{day.day}}</h4>
            </div>

            <div class="day">
                <h3>Thu</h3>
                <h4 ng-repeat="day in months | filter:'Thu'">{{day.day}}</h4>
            </div>

            <div class="day">
                <h3>Fri</h3>
                <h4 ng-repeat="day in months | filter:'Fri'">{{day.day}}</h4>
            </div>

            <div class="day">
                <h3>Sat</h3>
                <h4 ng-repeat="day in months | filter:'Sat'">{{day.day}}</h4>
            </div>

            <div class="day">
                <h3>Sun</h3>
                <h4 ng-repeat="day in months | filter:'Sun'">{{day.day}}</h4>
            </div>
        </div>
        <div class="bg-info" ng-if="visible">
            <h4>{{day}} of {{curMonths}}</h4>
            <div class="notes">
                <ul>
                    <li ng-repeat="note in notes">{{note}}</li>
                </ul>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="..." ng-model="note">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="saveNote(day, curMonths, curYear, note)">Add!</button>
              </span>
            </div>
        </div>
    </div>
</div>