<h1 class="text-danger text-center">Calendar</h1>
<!-- <h4>{{curMonths}}, {{curYear}}</h4> -->

<div class="row">
    <div class="col-xs-3 text-info text-center text-uppercase small bg-info padding-30">
        <h3>Today is:</h3>
        {{curYear}}<br>
        {{dayToday}}<br>
    </div>
    <div class="col-xs-9">
       <div class="clearfix center-block">
            <h3 class="arrow text-success text-uppercase text-center pull-left" ng-click="goToPreviousMonth(curMonthNum, curYear)"><i class="fa fa-arrow-circle-left"></i></h3>
            <h3 class="text-success text-uppercase text-center pull-left">{{curMonthName}}, {{curYear}}</h3>
            <h3 class="arrow text-success text-uppercase text-center pull-left" ng-click="goToNextMonth(curMonthNum, curYear)"><i class="fa fa-arrow-circle-right"></i></h3>
       </div>

        <div class="cal clearfix">
            <div class="day">
                <h3>Mon</h3>
                <h4 ng-repeat="day in month | filter:'Mon'" ng-click="addNote(day.day)" 
                ng-class="{'text-muted' : day.disable == true}">
                    {{day.day}}
                    <i class="fa fa-circle" ng-if="day.note.length > 0"></i>
                </h4>
            </div>

            <div class="day">
                <h3>Tue</h3>
                <h4 ng-repeat="day in month | filter:'Tue'" ng-click="addNote(day.day)"
                ng-class="{'text-muted' : day.disable == true}">
                    {{day.day}}
                    <i class="fa fa-circle" ng-if="day.note.length > 0"></i>
                </h4>
            </div>

            <div class="day">
                <h3>Wed</h3>
                <h4 ng-repeat="day in month | filter:'Wed'" ng-click="addNote(day.day)"
                 ng-class="{'text-muted' : day.disable == true}">
                    {{day.day}}
                    <i class="fa fa-circle" ng-if="day.note.length > 0"></i>
                </h4>
            </div>

            <div class="day">
                <h3>Thu</h3>
                <h4 ng-repeat="day in month | filter:'Thu'" ng-click="addNote(day.day)" 
                ng-class="{'text-muted' : day.disable == true}">
                    {{day.day}}
                    <i class="fa fa-circle" ng-if="day.note.length > 0"></i>
                </h4>
            </div>

            <div class="day">
                <h3>Fri</h3>
                <h4 ng-repeat="day in month | filter:'Fri'" ng-click="addNote(day.day)" 
                ng-class="{'text-muted' : day.disable == true}">
                    {{day.day}}
                    <i class="fa fa-circle" ng-if="day.note.length > 0"></i>
                </h4>
            </div>

            <div class="day">
                <h3>Sat</h3>
                <h4 ng-repeat="day in month | filter:'Sat'" ng-click="addNote(day.day)" 
                ng-class="{'text-muted' : day.disable == true}">
                    {{day.day}}
                    <i class="fa fa-circle" ng-if="day.note.length > 0"></i>
                </h4>
            </div>

            <div class="day">
                <h3>Sun</h3>
                <h4 ng-repeat="day in month | filter:'Sun'" ng-click="addNote(day.day)" 
                ng-class="{'text-muted' : day.disable == true}">
                    {{day.day}}
                    <i class="fa fa-circle" ng-if="day.note.length > 0"></i>
                </h4>
            </div>
        </div>
        <div class="bg-info clearfix" ng-if="visible">
            <h4>{{addNoteToDay}} of {{curMonthName}}</h4>
            <div class="notes">
                <ul>
                    <li ng-repeat="item in month[addNoteToDay - 1].note">{{item}}</li>
                </ul>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="..." ng-model="note">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="saveNote(addNoteToDay, curMonthName, curYear, note)">Add!</button>
              </span>
            </div>
        </div>
    </div>
</div>