body {
    color: #fff;
    background-color: #333;
    font-family: 'Didact Gothic', sans-serif;
}

h1.lg {
    font-size: 173px;
}

.cal {
    width: 100%;
    background-color: #336699;
    margin-top: 100px;
    border: 20px solid #336699;
    position: relative;
}

.bg-default {
    background-color: #fff;
    color: #336699;
}

.bg-dark {
    background-color: #333;
}

.bg-primary {
    background-color: #336699;
}

.padding-30 {
    padding: 30px;
}

.notes li {
    line-height: 2em;
    font-size: 1.7em;
    border-bottom: 1px solid rgba(51, 102, 153, 0.4);
    padding-left: 20px;
}

.form-control {
    font-size: 1.6em;
    border-radius: 0px;
}

.input-group button {
    border-radius: 0px;
}

.absolute-panel {
    position: absolute;
    width: 100%;
    right: -30px;
    top: -30px;
}

.description {
    padding: 40px 0 0 30px;
    line-height: 1.7em;
    font-size: 20px;
}

i.note-dot {
    position: relative;
    font-size: 8px;
}

.shadow {
    box-shadow: 1px 1px 1px 1px #3F415D;
}

.day {
    width: 14%;
    float: left;
    text-align: center;
}

.arrow {
    cursor: pointer;
    margin-top: -32px;
}